<launch>
<!-- the gesture synthesiser -->
<!--
<node pkg="gesture_player" type="gesture_screens_player_ros" output="screen"
      name="gesture_screens_player_ros" args="_joint_name:=screens" />
-->
<node pkg="picotts" type="picotts.exe" name="picotts"
      output="screen" required="true" args="_engine:=pico2wave"/>
<node pkg="picotts" type="tts2notify.exe" name="tts2notify"
      output="screen" required="false">
  <remap from="tts" to="notify"/>
</node>

<!-- the gesture_string_publisher ,
converting XML filenames into proper gestures -->
<node pkg="gesture_player" type="gesture_string_publisher" output="screen"
  name="gesture_string_publisher" args="" />

<node pkg="gesture_player" type="gesture_gui.exe" output="screen" required="true"
      name="gui" args="_joints:=tts:string;notify:string" />

</launch>
